{
  "openapi": "3.0.1",
  "info": {
    "title": "common-platform-reference-master-data",
    "description": "Reference Master Data Application",
    "contact": {
      "name": "Firefly Software Solutions Inc",
      "email": "dev@getfirefly.io"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://core.getfirefly.io/master-data",
      "description": "Development Environment"
    },
    {
      "url": "/",
      "description": "Local Development Environment"
    }
  ],
  "tags": [
    {
      "name": "Notification Message Localizations",
      "description": "APIs for managing notification message localizations"
    },
    {
      "name": "Countries",
      "description": "APIs for managing countries"
    },
    {
      "name": "Asset Type",
      "description": "APIs for managing Asset Type data"
    },
    {
      "name": "Lookup Items",
      "description": "APIs for managing lookup items"
    },
    {
      "name": "Notification Message Catalog",
      "description": "APIs for managing notification message catalog"
    },
    {
      "name": "Notification Message Templates",
      "description": "APIs for managing notification message templates"
    },
    {
      "name": "Identity Document Categories",
      "description": "API for managing identity document categories"
    },
    {
      "name": "Contract Type",
      "description": "APIs for managing Contract Type data"
    },
    {
      "name": "Legal Forms",
      "description": "APIs for managing legal forms"
    },
    {
      "name": "Currencies",
      "description": "APIs for managing currencies"
    },
    {
      "name": "Transaction Category Localization",
      "description": "API for managing transaction category localizations"
    },
    {
      "name": "Lookup Domains",
      "description": "APIs for managing lookup domains"
    },
    {
      "name": "Contract Role",
      "description": "APIs for managing Contract Role data"
    },
    {
      "name": "Relationship Type Master",
      "description": "APIs for managing Relationship Type Master data"
    },
    {
      "name": "Document Template Localizations",
      "description": "APIs for managing document template localizations"
    },
    {
      "name": "Identity Documents",
      "description": "API for managing identity documents"
    },
    {
      "name": "Document Template Types",
      "description": "APIs for managing document template types"
    },
    {
      "name": "Rule Operation Type",
      "description": "APIs for managing Rule Operation Type data"
    },
    {
      "name": "Document Templates",
      "description": "APIs for managing document templates"
    },
    {
      "name": "ConsentCatalog",
      "description": "APIs for managing consent catalog"
    },
    {
      "name": "Transaction Category Catalog",
      "description": "API for managing transaction categories"
    },
    {
      "name": "Title Master",
      "description": "APIs for managing Title Master data"
    },
    {
      "name": "Administrative Divisions",
      "description": "APIs for managing administrative divisions"
    },
    {
      "name": "Contract Role Scope",
      "description": "API for managing contract role scopes and permissions"
    },
    {
      "name": "Activity Codes",
      "description": "APIs for managing activity codes"
    },
    {
      "name": "Message Type Catalog",
      "description": "APIs for managing message type catalog"
    },
    {
      "name": "Contract Document Type",
      "description": "APIs for managing Contract Document Type data"
    },
    {
      "name": "Identity Document Localizations",
      "description": "API for managing identity document localizations"
    },
    {
      "name": "BankInstitutionCodes",
      "description": "APIs for managing bank or institution codes"
    },
    {
      "name": "LanguageLocale",
      "description": "APIs for managing language/locale data"
    }
  ],
  "paths": {
    "/api/v1/transaction-category-localizations/{localizationId}": {
      "get": {
        "tags": [
          "Transaction Category Localization"
        ],
        "summary": "Get Localization by ID",
        "description": "Retrieve a transaction category localization by its ID.",
        "operationId": "getTransactionCategoryLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the transaction category localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Transaction category localization not found"
          },
          "200": {
            "description": "Successfully retrieved the transaction category localization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCategoryLocalizationDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Transaction Category Localization"
        ],
        "summary": "Update Transaction Category Localization",
        "description": "Update an existing transaction category localization.",
        "operationId": "updateTransactionCategoryLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the transaction category localization to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionCategoryLocalizationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Transaction category localization not found"
          },
          "400": {
            "description": "Invalid input data"
          },
          "200": {
            "description": "Transaction category localization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCategoryLocalizationDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Transaction Category Localization"
        ],
        "summary": "Delete Transaction Category Localization",
        "description": "Delete a transaction category localization.",
        "operationId": "deleteTransactionCategoryLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the transaction category localization to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Transaction category localization not found"
          },
          "204": {
            "description": "Transaction category localization deleted successfully"
          }
        }
      }
    },
    "/api/v1/transaction-categories/{categoryId}": {
      "get": {
        "tags": [
          "Transaction Category Catalog"
        ],
        "summary": "Get Transaction Category by ID",
        "description": "Retrieve a transaction category by its ID.",
        "operationId": "getTransactionCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "ID of the transaction category",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Transaction category not found"
          },
          "200": {
            "description": "Successfully retrieved the transaction category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCategoryCatalogDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Transaction Category Catalog"
        ],
        "summary": "Update Transaction Category",
        "description": "Update an existing transaction category.",
        "operationId": "updateTransactionCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "ID of the transaction category to update",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionCategoryCatalogDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Transaction category not found"
          },
          "200": {
            "description": "Transaction category updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionCategoryCatalogDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data"
          }
        }
      },
      "delete": {
        "tags": [
          "Transaction Category Catalog"
        ],
        "summary": "Delete Transaction Category",
        "description": "Delete a transaction category.",
        "operationId": "deleteTransactionCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "ID of the transaction category to delete",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Transaction category not found"
          },
          "204": {
            "description": "Transaction category deleted successfully"
          }
        }
      }
    },
    "/api/v1/titles/{titleId}": {
      "get": {
        "tags": [
          "Title Master"
        ],
        "summary": "Get Title by ID",
        "description": "Retrieve a specific title by its ID.",
        "operationId": "getTitle",
        "parameters": [
          {
            "name": "titleId",
            "in": "path",
            "description": "ID of the title",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Title retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TitleMasterDTO"
                }
              }
            }
          },
          "404": {
            "description": "Title not found"
          }
        }
      },
      "put": {
        "tags": [
          "Title Master"
        ],
        "summary": "Update Title",
        "description": "Update an existing title by its ID.",
        "operationId": "updateTitle",
        "parameters": [
          {
            "name": "titleId",
            "in": "path",
            "description": "ID of the title",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TitleMasterDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Title updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TitleMasterDTO"
                }
              }
            }
          },
          "404": {
            "description": "Title not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Title Master"
        ],
        "summary": "Delete Title",
        "description": "Delete a specific title by its ID.",
        "operationId": "deleteTitle",
        "parameters": [
          {
            "name": "titleId",
            "in": "path",
            "description": "ID of the title",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Title deleted successfully"
          },
          "404": {
            "description": "Title not found"
          }
        }
      }
    },
    "/api/v1/rule-operation-types/{operationTypeId}": {
      "get": {
        "tags": [
          "Rule Operation Type"
        ],
        "summary": "Get Rule Operation Type by ID",
        "description": "Retrieve a specific rule operation type by its ID.",
        "operationId": "getRuleOperationType",
        "parameters": [
          {
            "name": "operationTypeId",
            "in": "path",
            "description": "ID of the rule operation type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Rule operation type not found"
          },
          "200": {
            "description": "Rule operation type retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleOperationTypeDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Rule Operation Type"
        ],
        "summary": "Update Rule Operation Type",
        "description": "Update an existing rule operation type by its ID.",
        "operationId": "updateRuleOperationType",
        "parameters": [
          {
            "name": "operationTypeId",
            "in": "path",
            "description": "ID of the rule operation type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleOperationTypeDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Rule operation type not found"
          },
          "200": {
            "description": "Rule operation type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleOperationTypeDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Rule Operation Type"
        ],
        "summary": "Delete Rule Operation Type",
        "description": "Delete a specific rule operation type by its ID.",
        "operationId": "deleteRuleOperationType",
        "parameters": [
          {
            "name": "operationTypeId",
            "in": "path",
            "description": "ID of the rule operation type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Rule operation type not found"
          },
          "204": {
            "description": "Rule operation type deleted successfully"
          }
        }
      }
    },
    "/api/v1/relationship-types/{relationshipTypeId}": {
      "get": {
        "tags": [
          "Relationship Type Master"
        ],
        "summary": "Get Relationship Type by ID",
        "description": "Retrieve a specific relationship type by its ID.",
        "operationId": "getRelationshipType",
        "parameters": [
          {
            "name": "relationshipTypeId",
            "in": "path",
            "description": "ID of the relationship type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Relationship type retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipTypeMasterDTO"
                }
              }
            }
          },
          "404": {
            "description": "Relationship type not found"
          }
        }
      },
      "put": {
        "tags": [
          "Relationship Type Master"
        ],
        "summary": "Update Relationship Type",
        "description": "Update an existing relationship type by its ID.",
        "operationId": "updateRelationshipType",
        "parameters": [
          {
            "name": "relationshipTypeId",
            "in": "path",
            "description": "ID of the relationship type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RelationshipTypeMasterDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Relationship type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RelationshipTypeMasterDTO"
                }
              }
            }
          },
          "404": {
            "description": "Relationship type not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Relationship Type Master"
        ],
        "summary": "Delete Relationship Type",
        "description": "Delete a specific relationship type by its ID.",
        "operationId": "deleteRelationshipType",
        "parameters": [
          {
            "name": "relationshipTypeId",
            "in": "path",
            "description": "ID of the relationship type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Relationship type not found"
          },
          "204": {
            "description": "Relationship type deleted successfully"
          }
        }
      }
    },
    "/api/v1/notification-templates/{templateId}": {
      "get": {
        "tags": [
          "Notification Message Templates"
        ],
        "summary": "Get Notification Message Template by ID",
        "description": "Retrieve a specific notification message template by its ID.",
        "operationId": "getNotificationMessageTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "ID of the notification message template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification message template retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationMessageTemplateDTO"
                }
              }
            }
          },
          "404": {
            "description": "Notification message template not found"
          }
        }
      },
      "put": {
        "tags": [
          "Notification Message Templates"
        ],
        "summary": "Update Notification Message Template",
        "description": "Update a specific notification message template by its ID.",
        "operationId": "updateNotificationMessageTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "ID of the notification message template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationMessageTemplateDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Notification message template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationMessageTemplateDTO"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input data"
          },
          "404": {
            "description": "Notification message template not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Notification Message Templates"
        ],
        "summary": "Delete Notification Message Template",
        "description": "Delete a specific notification message template by its ID.",
        "operationId": "deleteNotificationMessageTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "ID of the notification message template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Notification message template deleted successfully"
          },
          "404": {
            "description": "Notification message template not found"
          }
        }
      }
    },
    "/api/v1/notification-messages/{messageId}": {
      "get": {
        "tags": [
          "Notification Message Catalog"
        ],
        "summary": "Get Notification Message by ID",
        "description": "Retrieve a specific notification message by its ID.",
        "operationId": "getNotificationMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "ID of the notification message",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Notification message not found"
          },
          "200": {
            "description": "Notification message retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationMessageCatalogDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notification Message Catalog"
        ],
        "summary": "Update Notification Message",
        "description": "Update a specific notification message by its ID.",
        "operationId": "updateNotificationMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "ID of the notification message",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationMessageCatalogDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Notification message not found"
          },
          "400": {
            "description": "Invalid input data"
          },
          "200": {
            "description": "Notification message updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationMessageCatalogDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notification Message Catalog"
        ],
        "summary": "Delete Notification Message",
        "description": "Delete a specific notification message by its ID.",
        "operationId": "deleteNotificationMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "ID of the notification message",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Notification message deleted successfully"
          },
          "404": {
            "description": "Notification message not found"
          }
        }
      }
    },
    "/api/v1/notification-localizations/{localizationId}": {
      "get": {
        "tags": [
          "Notification Message Localizations"
        ],
        "summary": "Get Notification Message Localization by ID",
        "description": "Retrieve a specific notification message localization by its ID.",
        "operationId": "getNotificationMessageLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the notification message localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Notification message localization not found"
          },
          "200": {
            "description": "Notification message localization retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationMessageLocalizationDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Notification Message Localizations"
        ],
        "summary": "Update Notification Message Localization",
        "description": "Update a specific notification message localization by its ID.",
        "operationId": "updateNotificationMessageLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the notification message localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationMessageLocalizationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Notification message localization not found"
          },
          "400": {
            "description": "Invalid input data"
          },
          "200": {
            "description": "Notification message localization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationMessageLocalizationDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Notification Message Localizations"
        ],
        "summary": "Delete Notification Message Localization",
        "description": "Delete a specific notification message localization by its ID.",
        "operationId": "deleteNotificationMessageLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the notification message localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Notification message localization deleted successfully"
          },
          "404": {
            "description": "Notification message localization not found"
          }
        }
      }
    },
    "/api/v1/message-types/{typeId}": {
      "get": {
        "tags": [
          "Message Type Catalog"
        ],
        "summary": "Get Message Type by ID",
        "description": "Retrieve a specific message type by its ID.",
        "operationId": "getMessageType",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "ID of the message type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Message type not found"
          },
          "200": {
            "description": "Message type retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageTypeCatalogDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Message Type Catalog"
        ],
        "summary": "Update Message Type",
        "description": "Update a specific message type by its ID.",
        "operationId": "updateMessageType",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "ID of the message type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageTypeCatalogDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Message type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageTypeCatalogDTO"
                }
              }
            }
          },
          "404": {
            "description": "Message type not found"
          },
          "400": {
            "description": "Invalid input data"
          }
        }
      },
      "delete": {
        "tags": [
          "Message Type Catalog"
        ],
        "summary": "Delete Message Type",
        "description": "Delete a specific message type by its ID.",
        "operationId": "deleteMessageType",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "ID of the message type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Message type not found"
          },
          "204": {
            "description": "Message type deleted successfully"
          }
        }
      }
    },
    "/api/v1/lookup/items/{itemId}": {
      "get": {
        "tags": [
          "Lookup Items"
        ],
        "summary": "Get Lookup Item by ID",
        "description": "Retrieve a specific lookup item by its ID.",
        "operationId": "getItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "ID of the lookup item",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup item retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupItemDTO"
                }
              }
            }
          },
          "404": {
            "description": "Lookup item not found"
          }
        }
      },
      "put": {
        "tags": [
          "Lookup Items"
        ],
        "summary": "Update Lookup Item",
        "description": "Update an existing lookup item by its ID.",
        "operationId": "updateItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "ID of the lookup item",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupItemDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lookup item updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupItemDTO"
                }
              }
            }
          },
          "404": {
            "description": "Lookup item not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Lookup Items"
        ],
        "summary": "Delete Lookup Item",
        "description": "Delete a specific lookup item by its ID.",
        "operationId": "deleteItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "ID of the lookup item",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Lookup item not found"
          },
          "204": {
            "description": "Lookup item deleted successfully"
          }
        }
      }
    },
    "/api/v1/lookup/domains/{domainId}": {
      "get": {
        "tags": [
          "Lookup Domains"
        ],
        "summary": "Get Lookup Domain by ID",
        "description": "Retrieve a specific lookup domain by its ID.",
        "operationId": "getDomain",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "description": "ID of the lookup domain",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lookup domain retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupDomainDTO"
                }
              }
            }
          },
          "404": {
            "description": "Lookup domain not found"
          }
        }
      },
      "put": {
        "tags": [
          "Lookup Domains"
        ],
        "summary": "Update Lookup Domain",
        "description": "Update an existing lookup domain by its ID.",
        "operationId": "updateDomain",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "description": "ID of the lookup domain",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LookupDomainDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Lookup domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupDomainDTO"
                }
              }
            }
          },
          "404": {
            "description": "Lookup domain not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Lookup Domains"
        ],
        "summary": "Delete Lookup Domain",
        "description": "Delete a specific lookup domain by its ID.",
        "operationId": "deleteDomain",
        "parameters": [
          {
            "name": "domainId",
            "in": "path",
            "description": "ID of the lookup domain",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Lookup domain not found"
          },
          "204": {
            "description": "Lookup domain deleted successfully"
          }
        }
      }
    },
    "/api/v1/legal-forms/{legalFormId}": {
      "get": {
        "tags": [
          "Legal Forms"
        ],
        "summary": "Get Legal Form by ID",
        "description": "Retrieve a specific legal form by its ID.",
        "operationId": "getLegalForm",
        "parameters": [
          {
            "name": "legalFormId",
            "in": "path",
            "description": "ID of the legal form",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Legal form retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalFormDTO"
                }
              }
            }
          },
          "404": {
            "description": "Legal form not found"
          }
        }
      },
      "put": {
        "tags": [
          "Legal Forms"
        ],
        "summary": "Update Legal Form",
        "description": "Update an existing legal form by its ID.",
        "operationId": "updateLegalForm",
        "parameters": [
          {
            "name": "legalFormId",
            "in": "path",
            "description": "ID of the legal form",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LegalFormDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Legal form updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LegalFormDTO"
                }
              }
            }
          },
          "404": {
            "description": "Legal form not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Legal Forms"
        ],
        "summary": "Delete Legal Form",
        "description": "Delete a specific legal form by its ID.",
        "operationId": "deleteLegalForm",
        "parameters": [
          {
            "name": "legalFormId",
            "in": "path",
            "description": "ID of the legal form",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Legal form deleted successfully"
          },
          "404": {
            "description": "Legal form not found"
          }
        }
      }
    },
    "/api/v1/language-locales/{id}": {
      "get": {
        "tags": [
          "LanguageLocale"
        ],
        "summary": "Get LanguageLocale by ID",
        "description": "Retrieve a specific language/locale record by its ID.",
        "operationId": "getLanguageLocale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the languageLocale",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "LanguageLocale retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageLocaleDTO"
                }
              }
            }
          },
          "404": {
            "description": "LanguageLocale not found"
          }
        }
      },
      "put": {
        "tags": [
          "LanguageLocale"
        ],
        "summary": "Update LanguageLocale",
        "description": "Update an existing language/locale record by its ID.",
        "operationId": "updateLanguageLocale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the languageLocale",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LanguageLocaleDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "LanguageLocale updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguageLocaleDTO"
                }
              }
            }
          },
          "404": {
            "description": "LanguageLocale not found"
          }
        }
      },
      "delete": {
        "tags": [
          "LanguageLocale"
        ],
        "summary": "Delete LanguageLocale",
        "description": "Delete a specific language/locale record by its ID.",
        "operationId": "deleteLanguageLocale",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the languageLocale",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "LanguageLocale not found"
          },
          "204": {
            "description": "LanguageLocale entry deleted successfully"
          }
        }
      }
    },
    "/api/v1/identity-documents/{documentId}": {
      "get": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Get Identity Document",
        "description": "Get a specific identity document by its ID.",
        "operationId": "getIdentityDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "ID of the identity document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the identity document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentCatalogDTO"
                }
              }
            }
          },
          "404": {
            "description": "Identity document not found"
          }
        }
      },
      "put": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Update Identity Document",
        "description": "Update a specific identity document by its ID.",
        "operationId": "updateIdentityDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "ID of the identity document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityDocumentCatalogDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid input data"
          },
          "200": {
            "description": "Identity document updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentCatalogDTO"
                }
              }
            }
          },
          "404": {
            "description": "Identity document not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Identity Documents"
        ],
        "summary": "Delete Identity Document",
        "description": "Delete a specific identity document by its ID.",
        "operationId": "deleteIdentityDocument",
        "parameters": [
          {
            "name": "documentId",
            "in": "path",
            "description": "ID of the identity document",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Identity document deleted successfully"
          },
          "404": {
            "description": "Identity document not found"
          }
        }
      }
    },
    "/api/v1/identity-document-localizations/{localizationId}": {
      "put": {
        "tags": [
          "Identity Document Localizations"
        ],
        "summary": "Update Identity Document Localization",
        "description": "Update a specific identity document localization by its ID.",
        "operationId": "updateIdentityDocumentLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the identity document localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityDocumentLocalizationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "Invalid input data"
          },
          "200": {
            "description": "Identity document localization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentLocalizationDTO"
                }
              }
            }
          },
          "404": {
            "description": "Identity document localization not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Identity Document Localizations"
        ],
        "summary": "Delete Identity Document Localization",
        "description": "Delete a specific identity document localization by its ID.",
        "operationId": "deleteIdentityDocumentLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the identity document localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Identity document localization deleted successfully"
          },
          "404": {
            "description": "Identity document localization not found"
          }
        }
      }
    },
    "/api/v1/identity-document-categories/{categoryId}": {
      "get": {
        "tags": [
          "Identity Document Categories"
        ],
        "summary": "Get Identity Document Category",
        "description": "Get a specific identity document category by its ID.",
        "operationId": "getIdentityDocumentCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "ID of the identity document category",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the identity document category",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentCategoryCatalogDTO"
                }
              }
            }
          },
          "404": {
            "description": "Identity document category not found"
          }
        }
      },
      "put": {
        "tags": [
          "Identity Document Categories"
        ],
        "summary": "Update Identity Document Category",
        "description": "Update a specific identity document category by its ID.",
        "operationId": "updateIdentityDocumentCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "ID of the identity document category",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentityDocumentCategoryCatalogDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Identity document category not found"
          },
          "400": {
            "description": "Invalid input data"
          },
          "200": {
            "description": "Identity document category updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityDocumentCategoryCatalogDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Identity Document Categories"
        ],
        "summary": "Delete Identity Document Category",
        "description": "Delete a specific identity document category by its ID.",
        "operationId": "deleteIdentityDocumentCategory",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "ID of the identity document category",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Identity document category deleted successfully"
          },
          "404": {
            "description": "Identity document category not found"
          }
        }
      }
    },
    "/api/v1/document-templates/{templateId}": {
      "get": {
        "tags": [
          "Document Templates"
        ],
        "summary": "Get Document Template by ID",
        "description": "Retrieve a document template by its ID.",
        "operationId": "getDocumentTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "ID of the document template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateCatalogDTO"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved document template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateCatalogDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Document Templates"
        ],
        "summary": "Update Document Template",
        "description": "Update an existing document template.",
        "operationId": "updateDocumentTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "ID of the document template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTemplateCatalogDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Document template not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateCatalogDTO"
                }
              }
            }
          },
          "200": {
            "description": "Document template updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateCatalogDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Document Templates"
        ],
        "summary": "Delete Document Template",
        "description": "Delete a document template by its ID.",
        "operationId": "deleteDocumentTemplate",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "ID of the document template",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document template not found"
          },
          "204": {
            "description": "Document template deleted successfully"
          }
        }
      }
    },
    "/api/v1/document-template-types/{typeId}": {
      "get": {
        "tags": [
          "Document Template Types"
        ],
        "summary": "Get Document Template Type by ID",
        "description": "Retrieve a document template type by its ID.",
        "operationId": "getDocumentTemplateType",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "ID of the document template type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document template type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateTypeCatalogDTO"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved document template type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateTypeCatalogDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Document Template Types"
        ],
        "summary": "Update Document Template Type",
        "description": "Update an existing document template type.",
        "operationId": "updateDocumentTemplateType",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "ID of the document template type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTemplateTypeCatalogDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Document template type not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateTypeCatalogDTO"
                }
              }
            }
          },
          "200": {
            "description": "Document template type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateTypeCatalogDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Document Template Types"
        ],
        "summary": "Delete Document Template Type",
        "description": "Delete a document template type by its ID.",
        "operationId": "deleteDocumentTemplateType",
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "description": "ID of the document template type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document template type deleted successfully"
          },
          "404": {
            "description": "Document template type not found"
          }
        }
      }
    },
    "/api/v1/document-template-localizations/{localizationId}": {
      "get": {
        "tags": [
          "Document Template Localizations"
        ],
        "summary": "Get Document Template Localization by ID",
        "description": "Retrieve a document template localization by its ID.",
        "operationId": "getDocumentTemplateLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the document template localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Document template localization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateLocalizationDTO"
                }
              }
            }
          },
          "200": {
            "description": "Successfully retrieved document template localization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateLocalizationDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Document Template Localizations"
        ],
        "summary": "Update Document Template Localization",
        "description": "Update an existing document template localization.",
        "operationId": "updateDocumentTemplateLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the document template localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentTemplateLocalizationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Document template localization not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateLocalizationDTO"
                }
              }
            }
          },
          "200": {
            "description": "Document template localization updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentTemplateLocalizationDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Document Template Localizations"
        ],
        "summary": "Delete Document Template Localization",
        "description": "Delete a document template localization by its ID.",
        "operationId": "deleteDocumentTemplateLocalization",
        "parameters": [
          {
            "name": "localizationId",
            "in": "path",
            "description": "ID of the document template localization",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Document template localization deleted successfully"
          },
          "404": {
            "description": "Document template localization not found"
          }
        }
      }
    },
    "/api/v1/divisions/{divisionId}": {
      "get": {
        "tags": [
          "Administrative Divisions"
        ],
        "summary": "Get Administrative Division by ID",
        "description": "Retrieve a specific administrative division by its ID.",
        "operationId": "getDivision",
        "parameters": [
          {
            "name": "divisionId",
            "in": "path",
            "description": "ID of the administrative division",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administrative division retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdministrativeDivisionDTO"
                }
              }
            }
          },
          "404": {
            "description": "Administrative division not found"
          }
        }
      },
      "put": {
        "tags": [
          "Administrative Divisions"
        ],
        "summary": "Update Administrative Division",
        "description": "Update an existing administrative division by its ID.",
        "operationId": "updateDivision",
        "parameters": [
          {
            "name": "divisionId",
            "in": "path",
            "description": "ID of the administrative division",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdministrativeDivisionDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Administrative division updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdministrativeDivisionDTO"
                }
              }
            }
          },
          "404": {
            "description": "Administrative division not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Administrative Divisions"
        ],
        "summary": "Delete Administrative Division",
        "description": "Delete a specific administrative division by its ID.",
        "operationId": "deleteDivision",
        "parameters": [
          {
            "name": "divisionId",
            "in": "path",
            "description": "ID of the administrative division",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Administrative division deleted successfully"
          },
          "404": {
            "description": "Administrative division not found"
          }
        }
      }
    },
    "/api/v1/currencies/{currencyId}": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Get Currency by ID",
        "description": "Retrieve a specific currency by its ID.",
        "operationId": "getCurrency",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "description": "ID of the currency",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currency retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDTO"
                }
              }
            }
          },
          "404": {
            "description": "Currency not found"
          }
        }
      },
      "put": {
        "tags": [
          "Currencies"
        ],
        "summary": "Update Currency",
        "description": "Update an existing currency by its ID.",
        "operationId": "updateCurrency",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "description": "ID of the currency",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CurrencyDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "Currency not found"
          },
          "200": {
            "description": "Currency updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyDTO"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Currencies"
        ],
        "summary": "Delete Currency",
        "description": "Delete a specific currency by its ID.",
        "operationId": "deleteCurrency",
        "parameters": [
          {
            "name": "currencyId",
            "in": "path",
            "description": "ID of the currency",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "Currency not found"
          },
          "204": {
            "description": "Currency deleted successfully"
          }
        }
      }
    },
    "/api/v1/countries/{countryId}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get Country by ID",
        "description": "Retrieve a specific country by its ID.",
        "operationId": "getCountry",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "ID of the country",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Country retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryDTO"
                }
              }
            }
          },
          "404": {
            "description": "Country not found"
          }
        }
      },
      "put": {
        "tags": [
          "Countries"
        ],
        "summary": "Update Country",
        "description": "Update an existing country by its ID.",
        "operationId": "updateCountry",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "ID of the country",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CountryDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Country updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountryDTO"
                }
              }
            }
          },
          "404": {
            "description": "Country not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Countries"
        ],
        "summary": "Delete Country",
        "description": "Delete a specific country by its ID.",
        "operationId": "deleteCountry",
        "parameters": [
          {
            "name": "countryId",
            "in": "path",
            "description": "ID of the country",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Country deleted successfully"
          },
          "404": {
            "description": "Country not found"
          }
        }
      }
    },
    "/api/v1/contract-types/{contractId}": {
      "get": {
        "tags": [
          "Contract Type"
        ],
        "summary": "Get Contract Type by ID",
        "description": "Retrieve a specific contract type by its ID.",
        "operationId": "getContractType",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "ID of the contract type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract type retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractTypeDTO"
                }
              }
            }
          },
          "404": {
            "description": "Contract type not found"
          }
        }
      },
      "put": {
        "tags": [
          "Contract Type"
        ],
        "summary": "Update Contract Type",
        "description": "Update an existing contract type by its ID.",
        "operationId": "updateContractType",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "ID of the contract type",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Idempotency-Key",
            "in": "header",
            "description": "Unique key for idempotent requests. If provided, ensures that identical requests with the same key will only be processed once.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContractTypeDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Contract type updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractTypeDTO"
                }
              }
            }
          },
          "404": {
            "description": "Contract type not found"
          }
        }
      },
      "delete": {
        "tags": [
          "Contract Type"
        ],
        "summary": "Delete Contract Type",
        "description": "Delete a specific contract type by its ID.",
        "operationId": "deleteContractType",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "description": "ID of the contract type",
            "required": true,
            "schema": {
              "type": "string",
[...]
